page-lobby-page {
   .lobby {
    background: url(./../www/img/disc_golf.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}
}
